.body {
    max-width: 1440px;
    
}
.logo {
    max-width: 101px;
    height: 27px;
}
.button {
    max-width: 100px;
    height: 48px;
}
.header {
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    padding: 17px 32px 17px 32px;
}
.ul-item {
    width: 328px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500px;

    

}
.wraper {
    max-width: 1440px;
    
    padding: 64px 165px 64px 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;

}
.left-wraper {
    max-width: 490px;
    height: 288px;
    gap: 40px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.wraper-h {
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    line-height: 60px;
    font-weight: bold;
}
.wraper-p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
}
.wraper-logo-p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    line-height: 20px;

}
.wraper-logo {
    width: 490px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.feature {
    max-width: 1440px;
    height: 256px;
    padding: 64px 165px 64px 165px;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.section-feature-box  {
    max-width: 360px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.feature-p{
    max-width: 360px;
    height: 72px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}
.feature-box {
    max-width: 360px;
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.black-section {
    max-width: 1440px;
    
    background-color: black;
    
    padding: 96px 150px 96px 150px;
    
}
.black-wraper {
    max-width: 1140px;
    height: 428px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 133px;
    
}
.black-h {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:  #FFFFFF;
}
.black-p-box {
    display: flex;
    flex-direction: column;
}
.black-p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.left-black-wraper {
    width: 503.5px;
    height: 428px;
    

}
.shelves {
    border-radius: 12px;
}
.right-black-wraper {
    max-width: 503.5px;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.bg-image {
    background-image: url('/images/Frame.jpg');
    max-width: 1440px;
    height: 566px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.bg-content {
    width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
    padding-top: 250px;

}
.white-button {
    max-width: 84px;
    
}
.bg-image-h4 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
}
.bg-image-h2 {
    max-width: 540px;
    height: 96px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;

}
.footer {
    max-width: 1440px;
    
    background-color: #000000;
    color: #FFFFFF;
    padding: 96px 150px 96px 150px;
    
}
.footer-container {
    max-width: 1140px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    


}
.footer-container-box {
    display: flex;
    flex-direction: row;
}
.footer-h2 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.footer-h5 {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer-container1 {
    width: 228px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-container2 {
    width: 228px;
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-container3 {
    width: 228px;
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-container4 {
    width: 228px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.burger-bar {
    display: none;
   
    
}


